form{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
.form-control {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-control input 
.form-control textarea{
    width: 100%;
    margin-bottom: 0.25rem;
}

.form-control input{
    border: 1px solid #a1a1a1;
    border-radius: 8px;
    font: inherit;
    border-radius: 2px;
    width: 500px;
    padding: 10px;
}

textarea{
    border: 1px solid #a1a1a1;
    border-radius: 8px;
    font: inherit;
    border-radius: 2px;
    width: 500px;
    padding: 10px;
    resize: none;
}

.form-control input:focus,
.form-control textarea:focus {
    outline-color: #00695c;
}
